@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ 	
	
  var howmanyProjectsToShow = 2;
	
  var startNode = Umbraco.TypedContent(1075);
	
  var completedProjects = startNode.Children().Where("Status.Contains(\"Completed\")").OrderBy("CreateDate desc");
	
  var projectsToShow = completedProjects.Take(howmanyProjectsToShow);
}

<div class="newpro">
<h4> The latest @howmanyProjectsToShow projects</h4>
<ul>
    @foreach (var project in projectsToShow){
		<li><a href="@project.Url">@project.Name</a></li>
    }
</ul>
	</div>